*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url('./GameBackground.png');
    background-repeat: no-repeat;
    background-size: cover; 
}
.ball{
    /* background-image:url('Mario.png'); */
    
    border-radius: 100%;
    transition: linear 0.5s;
}
.ball img {
    height:100px;
}